.formBox {
    font-size: 1em;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-right: 250px;
}

.formBoxMobile {
    font-size: 1em;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-right: 15px;
}

.greentext {
    color: greenyellow;
}

.inputBlock {
    display: block;
    margin: 8px 10px;
}

.formInput {
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 0.5em;
    height: auto;
    outline: 0;
    padding: 15px;
    width: 100%;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin: 0 0 30px;
    resize: none;
}

.formInput:focus {
    font-size: 0.5em;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255, 255, 255, 0.7);;
}

#emailBlock, #messageBlock {
    display: block;
}

.inputLabel {
    display: block;
    float: left;
    margin: 8px 10px;
}

/*.inlineEmail, .inlineSubject {*/
/*    display: inline-block;*/
/*}*/

#submitEmail {
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid white;
    background: transparent;
}