.skill p {
    font-size: 0.5em;
    margin-top: 10px;
}

#skillsContainer {
    margin: 10px 25px;
}

.carousel .slide .skillSymbol {
    margin: 20px 10px 10px 0;
    height: 48px;
    width: 48px;
}

#disclaimer * {
    font-size: 0.5em;
}

.skillName {
    display: block;
    margin: 0;
}

.greenLink, .greenLink:visited {
    color: greenyellow;
    font-weight: bold;
}

.flipButton {
    font-size: 0.5em;
    cursor: pointer;
    color: #fff;
    background: transparent;
    padding: 10px 25px;
    border-radius: 30px;
    border: 1px solid white;
    text-decoration: none;
    transition: 0.5s;
    z-index: 10;
}