.skill p {
    font-size: 0.5em;
    margin-top: 10px;
}

.carousel .slide .skillSymbol {
    margin-top: 20px;
    height: 32px;
    width: 32px;
}

#disclaimer p {
    font-size: 0.5em;
}

.skillName {
    display: block;
    margin: 0;
}
